* {
  margin: 0;
}

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body, .content, .cols {
  height: 100%;
}

p {
  margin-bottom: 5px;
}

.items {
/*  background: #ff0; */
  float: left;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.item {
  margin: 21px;
  border-bottom: 8px solid #000;
  cursor: pointer;
}

.item:hover {
  background: #000;
  color: #fff;
}

.title {
  font-weight: bold;
}

.detail {
  position: relative;
  float: left;
/*  background: #f00; */
  width: 50%;
  min-height: 100%;
}

.activity {
  margin: 21px;
}

.activity .title {
  text-transform: uppercase;
}

nav, .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
}

li {
  font-size: 34px; 
  text-transform: uppercase;
  text-align: center;
  margin: 21px;
  border-bottom: 8px solid #000;
  cursor: pointer;
}

input[type=text], .button {
  display: block;
  margin: 20px auto 20px;
  border: 8px solid #000;
  box-sizing:border-box;
  font-size: 21px;
  text-align: center;
}

.button {
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: #000;
  color: #fff;
}


.templates {
  display: none;
}

@media all and (max-width:640px) {

html, body, .content, .cols {
  height: auto;
  overflow-y: scroll;
}

textarea, input, input[type=text] {
  font-size: 8px;
}

.items {
  width: 100%;
}

.detail {
  width: 100%;
}

}


